{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <div class="input-group-prepend">
                    <label for="team-name" class="input-group-text">Team name</label>
                </div>
                <input id="team-name" name="team-name" type="text" class="form-control" placeholder="Team Name" value="{{ team.name }}">
            </div>
        </div>
        <div class="col-md-6">
            <button class="btn btn-block btn-success" id="save-team-name">Save</button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-10">

            <table class="table table-striped" id="team-edit-table">
                <thead>
                <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Abilities</th>
                    <th scope="col">Types</th>
                    <th scope="col">Base Experience</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for pokemon in pokemons %}
                    <tr class="row-pokemon-{{ pokemon.id }}">
                        <td>
                            <img src="{{ pokemon.sprite.url }}" width="100" height="100" alt="Pokemon {{ pokemon.name }}">
                        </td>
                        <td>
                            {{ pokemon.name }}
                        </td>
                        <td>
                            {% for ability in pokemon.abilities %}
                            <div class="row">
                                <div class="col-md-12">
                                    {{ ability.name }}
                                </div>
                            </div>
                            {% endfor %}
                        </td>
                        <td>
                            {% for type in pokemon.types %}
                            <div class="row">
                                <div class="col-md-12">
                                {{ type.name }}
                                </div>
                            </div>
                            {% endfor %}
                        </td>
                        <td>
                            {{ pokemon.baseExperience }}
                        </td>
                        <td>
                            <button class="btn btn-danger btn-block remove-pokemon-button" data-pokemon-id="{{ pokemon.id }}">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>

        <div class="col-md-2">
            <button type="button" class="btn btn-primary btn-block" id="add-pokemon">
                <i class="fa-solid fa-circle-plus"></i> Add Pokemon
            </button>
        </div>

    </div>



{% endblock %}

{% block javascripts %}

    <script>
        $(document).on('click', '.remove-pokemon-button', function () {
            let pokemonId = $(this).data('pokemon-id');
            let url = "{{ path('team_remove_pokemon', {'teamId': team.id, 'pokemonId':  "REPLACEME"}) }}";
            $.ajax({
                url: url.replace('REPLACEME', pokemonId),
                method: 'POST',
                data: {
                    'team_id': '{{ team.id }}',
                    'pokemonId': pokemonId
                },
                dataType: 'json',
                success: (response) => {
                    Swal.fire({
                        icon: 'success',
                        title: 'Pokemon Removed'
                    }).then(() => {
                        $('.row-pokemon-' + pokemonId).remove();
                    });
                },
                error: (response) => {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        html: response.responseJSON.message,
                    });
                }
            });
        }).on('click', '#add-pokemon', function () {
            $.ajax({
                url: ' {{ path("team_add_pokemon", {'teamId': team.id}) }} ',
                type: 'GET',
                success: (response) => {
                    Swal.fire({
                        icon: 'success',
                        title: 'Pokemon Added',
                        html: response.pokemon
                    }).then(() => {
                        window.location.reload();
                    });
                },
                error: (response) => {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        html: response.responseJSON.message,
                    });
                }
            });
        }).on('click', '#save-team-name', function () {
            $.ajax({
                url: ' {{ path("team_change_name", {'teamId': team.id}) }} ',
                type: 'POST',
                data: {
                    'team_name': $('#team-name').val(),
                },
                dataType: 'json',
                success: (response) => {
                    Swal.fire({
                        icon: 'success',
                        title: 'Team name changed',
                        html: response.pokemon
                    }).then(() => {
                        window.location.reload();
                    });
                },
                error: (response) => {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        html: response.responseJSON.message,
                    });
                }
            });
        })

    </script>

{% endblock %}