{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="row justify-content-center mb-5">
        <div class=" col-md-4 team-name-input-container">
            <div class="input-group">
                <div class="input-group-prepend">
                    <label for="team-name" class="input-group-text">Team name</label>
                </div>
                <input id="team-name" name="team-name" type="text" class="form-control" placeholder="Team Name"
                        {% if team.id is defined and team.id is not null %}
                            value="{{ team.name }}"
                            disabled="disabled"
                        {% endif %}
                >
            </div>
        </div>
        {% if team.id is not defined or team.id is null %}
        <div class="col-md-2">
            <button type="button" class="btn btn-primary btn-block" id="add-team">
                Create Team
            </button>
        </div>
        {% endif %}
    </div>

    {% if team.id is defined and team.id is not null %}
        {% include 'team/template/team-table.html.twig' with pokemons %}
    {% endif %}

{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(() => {
            $('#add-team').on('click', () => {
                $.ajax({
                    url: '{{ path("team_add") }}',
                    type: 'POST',
                    data: {
                        name: $('#team-name').val()
                    },
                    dataType:'json',
                    success: (response) => {
                        let path = '{{ path("team_created", {'id': 'replacemeasap'}) }}'
                        path = path.replace('replacemeasap', response.team_id);
                        window.location.href = path;
                    },
                    error: (response) => {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            html: response.responseJSON.message,
                        });
                    }
                });
            });

            {% if team.id is defined and team.id is not null %}

                $('#add-pokemon').on('click', () => {
                    $.ajax({
                        url: ' {{ path("team_add_pokemon", {'teamId': team.id}) }} ',
                        type: 'GET',
                        success: (response) => {
                            Swal.fire({
                                icon: 'success',
                                title: 'Pokemon Added',
                                html: response.pokemon
                            }).then(() => {
                                window.location.reload();
                            });
                        },
                        error: (response) => {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                html: response.responseJSON.message,
                            });
                        }
                    });
                });

                $('#team-pokemon-table').DataTable({
                    "bPaginate": false,
                    "bFilter": false,
                });

            {% endif %}
        });
    </script>
{% endblock %}
