{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <table id="team-list-table" class="table table-striped" style="width:100%">
        <thead>
        <tr class="text-center">
            <th scope="col">Team Name</th>
            <th scope="col">Pokemons</th>
            <th scope="col">Total Base Experience</th>
            <th scope="col">Types</th>
            <th scope="col">Creation Date</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for team_id, item in list %}
            <tr>
                <td class="text-center" style="width: 20%">
                    <div class="row">
                        <div class="col-md-12">
                        {{ item.team.name }}
                        </div>
                    </div>
                </td>
                <td class="text-center" style="width: 20%">
                    <div class="row">
                    {% set sum_base_experience = 0 %}
                    {% for pokemon in item.pokemon %}
                        {% set sum_base_experience = sum_base_experience + pokemon.baseExperience %}
                        <div class="col-md-4">
                            <img src="{{ pokemon.sprite.url }}" width="50" height="50" alt="Pokemon {{ pokemon.name }}">
                        </div>
                    {% endfor %}
                    </div>
                </td>
                <td class="text-center" style="width: 20%">
                    {{ sum_base_experience }}
                </td>
                <td class="text-center" style="width: 20%">
                    <div class="row">
                    {% for type in item.types %}
                        <div class="col-md-4 text-center" style="min-height: 2rem; border: 1px solid lightgray">{{ type }}</div>
                    {% endfor %}
                    </div>
                </td>
                <td class="text-center" style="width: 20%">
                    {{ item.team.creationDate|date('d/m/Y H:i') }}
                </td>
                <td>
                    <div class="row">
                        <div class="col-md-12">
                            <a href="{{ path('team_edit', {'teamId': team_id}) }}" type="button" class="btn btn-primary btn-block">Edit</a>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(() => {
            $('#team-list-table').DataTable({
                "bPaginate": false,
                "columnDefs": [
                    { "searchable": false, "targets": [0, 1, 2, 4] }
                ],
                order: [[4, 'desc']]
            });
        })
    </script>

{% endblock %}
