{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

<div class="row text-center">
    <div class="col-md-6 col-sm-12">
        <div class="row">
            <div class="col-md-12 text-center">
                Create Team
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="{{ path('team_create') }}" type="button" class="btn btn-primary btn-lg btn-block" target="_blank">Gotta Catch 'Em All</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12 slashed-border">
        <div class="row">
            <div class="col-md-12 text-center">
                Team Listing
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="{{ path('team_list') }}" target="_blank" type="button" class="btn btn-primary btn-lg btn-block">Show List</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}

{% endblock %}
