<div class="row text-center">
    <div class="{% if pokemons|length < 6 %} col-md-10 {% else %} col-md-12 {% endif %}">
        <table class="table table-striped" id="team-pokemon-table">
            <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Abilities</th>
                <th scope="col">Types</th>
                <th scope="col">Base Experience</th>
            </tr>
            </thead>
            <tbody>
            {% for pokemon in pokemons %}
                <tr>
                    <td>
                        <img src="{{ pokemon.sprite.url }}" width="100" height="100" alt="Pokemon {{ pokemon.name }}">
                    </td>
                    <td>{{ pokemon.name }}</td>
                    <td>
                    {% for ability in pokemon.abilities %}
                        <div class="row">
                            <div class="col-md-12">
                        {{ ability.name }}
                            </div>
                        </div>
                    {% endfor %}
                    </td>
                    <td>
                        {% for type in pokemon.types %}
                        <div class="row">
                            <div class="col-md-12">
                            {{ type.name }}
                            </div>
                        </div>
                        {% endfor %}
                    </td>
                    <td>
                        {{ pokemon.baseExperience }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% if pokemons|length < 6 %}
    <div class="col-md-2">
        <button type="button" class="btn btn-primary btn-block" id="add-pokemon">
            <i class="fa-solid fa-circle-plus"></i> Add Pokemon
        </button>
    </div>
    {% endif %}
</div>