<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('homepage') }}">
            <img class="logo horizontal-logo" src="{{ asset('build/pikachu.svg') }}" height="50" alt="pikachu logo">
            <img class="logo horizontal-logo" src="{{ asset('build/pokemon-logo.svg') }}" height="50" alt="pokemon logo">
        </a>
    </div>
</nav>